@tailwind base;
@tailwind components;
@tailwind utilities;

.first_background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("/neom-ihIKOg_lHgI-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 90vh;
  position: relative;
}
